<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <add name="OnlineShopDbContext" connectionString="data source=KHABUI-PC\SQLEXPRESS;initial catalog=OnlineShop;persist security info=True;user id=sa;password=12345678;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <!--Config service send mail-->
    <add name="FromEmailAddress" connectionString="info@macklock.net" />
    <add name="FromEmailDisplayName" connectionString="Đơn hàng mới" />
    <add name="FromEmailPassword" connectionString="4875Macklock" />
    <add name="SMTPHost" connectionString="smtp.gmail.com" />
    <add name="SMTPPort" connectionString="587" />
    <add name="EnabledSSL" connectionString="true" />
    <add name="ToEmailAddress" connectionString="buikha123@hotmail.com" />
    <add name="DefaultCredentials" connectionString="false" />
    <!--Facebook App Info-->
    <add name="FbAppId" connectionString="443211259479105" />
    <add name="FbAppSecret" connectionString="dee131a9a3e463e3fbd9fd28e6b8b403" />
  </connectionStrings>
</configuration>