
@{
    ViewBag.Title = "Lỗi thanh toán";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content">
    <div class="row">
        <div class="col-sm-12">
            <div class="alert bg-danger alert-warning">
                Thanh toán không thành công
            </div>
        </div>
    </div>
</div>

